.logo {
  padding: 2px;
}

.logo {
  background: url("./assets/baiana.jpg");
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: center;
  float: left;
  width: 100%;
  height: 206px;
}

.menu-container {
  position: relative;
}

.menu {
  position: relative;
}

.menu-bar {
  background-color: #f33737;
}

.header {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .menu {
    position: relative;
    top: 50%;
  }
}

.body-head {
  text-align: center;
}

.form-novo {
  padding: 37px;
}
