<div class="card" data-toggle="modal" data-target="#modal1">
  <img class="card-img-top" src="../../assets/cuscus.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Cuscuz da Vovozinha</h5>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
      <span>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        10
      </span>
    </span>
    <a href="#" class="btn btn-primary float-right">Abrir</a>
  </div>
</div>